In [1]:
import pandas as pd

df_caracteristiques = pd.read_csv("cleaned_files/caractéristiques_clean.csv", sep=";", dtype=str)
df_lieux = pd.read_csv("cleaned_files/lieux_clean.csv", sep=";", dtype=str)
df_vehicules = pd.read_csv("cleaned_files/véhicules_clean.csv", sep=";", dtype=str)
df_usagers = pd.read_csv("cleaned_files/usagers_clean.csv", sep=";", dtype=str)


victime = df_usagers.merge(df_vehicules,on=['Accident_Id','Numéro du véhicule'])
accident = df_caracteristiques.merge(df_lieux,on = 'Accident_Id')
df_complete = victime.merge(accident,on='Accident_Id')

In [2]:
df_complete=df_complete.rename(columns={"Véhicule_Id_x":"Véhicule_Id"})
df_complete=df_complete.drop(columns=["Véhicule_Id_y"])

EXPORT POUR UTILISATION GENERALE

In [3]:
df_complete.to_csv("datasets/table_complete_sans_pivots.csv", sep=";",index=False)

In [4]:
df_complete.shape

(657999, 55)

ON CONSTATE QU'IL Y A DES ERREURS A CAUSE DES LIEUX MULTIPLES, CA DEDOUBLE LES VEHICULES ET EGALEMENT LES USAGERS, CE QUI POSE DES PROBLEMES D'ANALYSES, CAR UN ACCIDENT AURA x FOIS TROP DE V/U (PAR EXEMPLE L'ACCIDENT 202300053907)

In [5]:
pd.set_option('display.max_columns',None)

In [6]:
df_complete[df_complete['Accident_Id']=="202300053907"][['Nom de la route','Régime de circulation','Véhicule_Id','Catégorie du véhicule','Catégorie usager','Année de naissance','Sexe']]

,Nom de la route,Régime de circulation,Véhicule_Id,Catégorie du véhicule,Catégorie usager,Année de naissance,Sexe
655231,BOULEVARD DE BERCY,2 - Bidirectionnelle,155 584 911,07 - VL seul,1 - Conducteur,1936,1 - Masculin
655232,NaN,2 - Bidirectionnelle,155 584 911,07 - VL seul,1 - Conducteur,1936,1 - Masculin
655233,BOULEVARD DE BERCY,2 - Bidirectionnelle,155 584 911,07 - VL seul,2 - Passager,1940,1 - Masculin
655234,NaN,2 - Bidirectionnelle,155 584 911,07 - VL seul,2 - Passager,1940,1 - Masculin

IL FAUT DONC REGLER CE PROBLEME AVANT DE POUVOIR UTILISER LE DATASET